@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}
header {
    background: #111;
    padding: 20px;
}
header h2 {
    color: #39ff14;
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}
nav a:hover {
    color: #1e90ff;
}
main {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}
section {
    margin-bottom: 50px;
    text-align: center;
}
h1 {
    color: #39ff14;
}
.hero {
    padding: 80px 20px;
}
.hero h1 {
    font-size: 50px;
}
.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}
.boton,
button {
    background: #1e90ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
button:hover,
.boton:hover {
    background: #39ff14;
    color: black;
}
.tarjetas,
.productos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.tarjetas article,
.producto {
    background: #151515;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}
.producto img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.producto h3 {
    margin: 15px 0;
}
.producto strong {
    display: block;
    color: #39ff14;
    margin: 15px;
}
iframe {
    width: 80%;
    height: 350px;
    border: none;
}
.formulario {
    max-width: 500px;
    margin: auto;
    background: #151515;
    padding: 30px;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
input,
textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #222;
    color: #fff;
}
textarea {
    height: 120px;
}
small {
    color: #ff5555;
    min-height: 18px;
    display: block;
}
footer {
    background: #111;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}
@media (max-width: 700px) {
    .tarjetas article,
    .producto {
        width: 100%;
    }
    .hero h1 {
        font-size: 35px;
    }
    iframe {
        width: 100%;
        height: 250px;
    }
}